fastapi==0.115.12
uvicorn==0.34.2
sqlalchemy==2.0.43
pydantic==2.11.4
python-dotenv==1.0.1
loguru==0.7.3
python-multipart==0.0.9
email-validator==2.1.0.post1 
pydantic-settings==2.9.1
passlib==1.7.4
dependency_injector==4.48.0
python-jose==3.5.0
psycopg2-binary==2.9.10